<footer>
    <p align="center">Created with &#x2665; by <a href="https://www.github.com/roeintheglasses">{{name}}</a> <br> Powered by <a href="https://darksky.net/">DarkSky</a>  and <a href="https://www.mapbox.com">MapBox</a></p>
</footer>